{% extends 'base.html' %} 

{% block titulo %}Entregables{% endblock titulo %} 

{% block content %}

<h2> Listado de Entregables</h2>

<div class="row">
  {% for trab in trabajos %}
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">ID: {{ trab.id }}</h4>
        <h4 class="card-title">Nombre: {{ trab.nombre }}</h4>
        <p class="card-text">Fecha Vencto: {{ trab.fechaVence }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  
{% endblock content %}
